@font-face {
	font-family: InputMono;
	src: url(assets/Input_Fonts/InputMono-Regular.ttf);
}

body {
	margin: 0;
	background-color: #848B79;
	font-family: InputMono;
	color: black;
	font-size: 150%;
}

a {
	color: black;
	text-decoration: underline;
}

header {
	padding: 3% 3% 3% 15%;
	margin: 0 15% 0 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: darkslategrey;
}

#title, #author, #menu-link {
	margin: 0;
}

main {
	padding: 0 3% 3% 15%;
	margin: 0 25% 0 0;
}

.border_left {
	padding: 0 1%;
	margin: 5% 0 0 0;
	border-left-style: solid;
	border-left-color: darkslategrey;
}

.list, .item {
	padding: 0 0 1% 0;
}